<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Offcanvas navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <form class="d-flex px-3">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a
                            class="nav-link text-white {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}"
                            href="{{ path('home') }}"
                            >Inicio</a
                        >
                    </li>

                    <li class="nav-item">
                        <a
                            class="nav-link text-white {% if app.request.attributes.get('_route') == 'saludar' %}active{% endif %}"
                            href="{{ path('saludar') }}"
                            >Saludar</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link text-white {% if app.request.attributes.get('_route') == 'testRequest' %}active{% endif %}"
                            href="{{ path('testRequest') }}"
                            >Test Request</a
                        >
                    </li>

                    <li class="nav-item">
                        <a
                            class="nav-link text-white {% if app.request.attributes.get('_route') == 'setSesion' %}active{% endif %}"
                            href="{{ path('setSesion') }}"
                            >setSesion</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link text-white {% if app.request.attributes.get('_route') == 'getSesion' %}active{% endif %}"
                            href="{{ path('getSesion') }}"
                            >getSesion</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
